<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="http://nah-back-15.azurewebsites.net"></add>
    <add name="Registration" connectionString="api/user/register"/>
    <add name="UserExists" connectionString="api/user/exists"/>
    <add name="Login" connectionString="api/user/login"/>
    <add name="UserDenied" connectionString="api/user/denied"/>
    <add name="UserActive" connectionString="api/user/active"/>
    <add name="AllQuestions" connectionString="api/question/All"/>
    <add name="GetImage" connectionString="api/question/Image"/>
    <add name="SendAnswers" connectionString="api/answer/InsertList"/>
    <add name="CheckAllAnswered" connectionString="api/question/AllAnswered"/>
    <add name="GetAllUnanswered" connectionString="api/question/Unanswered"/>
    <add name="GetAmountInactiveUsers" connectionString="api/admin/AmountInactive"/>
    <add name="GetInactiveUsers" connectionString="api/admin/Inactive"/>
    <add name="SetUserActive" connectionString="api/admin/Activate"/>
    <add name="SetUserDeny" connectionString="api/admin/Deny"/>
    
  </connectionStrings>
</configuration>