<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="nah_remote" connectionString= "Server=tcp:qpohbv6qgc.database.windows.net,1433;Database=nah_remote;User ID=appdev15@qpohbv6qgc;Password=PXL-B123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30"/>
    </connectionStrings>
</configuration>